<h1>Navigation towards to the table page</h1>
<button class="btn btn-warning" (click)="navigation()">
    NAVIGATION
</button>
<br><br>

<button class="btn btn-danger" (click)="getData()">GET DATA AS JSON</button>

<br><br>

<button class="btn btn-success" (click)="filterTrue()" style="margin-left:100px;">Filter True Console</button>

<button class="btn btn-primary" (click)="filterFalse()" style="margin-left:100px;">Filter False Console</button>

<button class="btn btn-danger" (click)="media()">MEDIA DATA</button>

<br><br>

<button class="btn btn-primary" (click)="formArray()" style="margin-left:100px;">Navigate To form Array</button>